{{#blocks}}
<div class="card-wrapper {{blockgroup}} {{additionalclass}}" data-parentblock="{{name}}" data-block="{{name}}{{#section}}{{section}}{{/section}}" data-blockid="{{id}}">
    <div class="card-item h-100 ">
        <a href="{{url}}&amp;bui_addblock={{name}}{{#section}}&amp;section={{section}}{{/section}}" class="blockurl"></a>
        <div class="card">
            <a href="{{url}}&amp;bui_addblock={{name}}{{#section}}&amp;section={{section}}{{/section}}" class="list-group-item p-0 ">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <img src="{{thumbnail}}">
                </div>
            </a>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="h-semibold-6">
                    <a href="{{url}}&amp;bui_addblock={{name}}{{#section}}&amp;section={{section}}{{/section}}" class="text-decoration-none">{{title}}</a>
                </div>
                <div class="action-icon-wrapper">
                    {{#updateavailable}}
                    <a href="#" class=" update-content text-decoration-none" data-blockname="{{section}}" title="{{#str}}updateblockcontent, local_edwiserpagebuilder{{/str}}">
                        <span class="edw-icon edw-icon-Refresh d-flex"></span>
                    </a>
                    {{/updateavailable}}

                    {{^visible}}
                    <i class="fa fa-info info-deprecated" title="{{#str}}blockdeprecated, local_edwiserpagebuilder{{/str}}"></i>
                    <a href="#" class="delete-content text-decoration-none" data-blockname="{{section}}" title="{{#str}}deleteblockcontent, local_edwiserpagebuilder{{/str}}" data-blockid="{{id}}">
                        <span class="edw-icon edw-icon-Delete-Course d-flex"></span>
                    </a>
                    {{/visible}}
                </div>
            </div>

        </div>
        {{#section}}<div class="ribbon d-none">Edwiser</div>{{/section}}
    </div>
</div>
{{/blocks}}
