{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Edwiser RemUI
    @package theme_remui
    @copyright (c) 2023 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template core/add_block_body

    Template for the body of the add block modal.

    Context variables required for this template:
    * blocks - list of blocks containing name and title
    * url - base url for links back to same page.

    Example context (json):
    {
        "blocks" : [ { "name": "test", "title": "Test block" } ],
        "url" : "?a=b"
    }

}}
<div class="d-flex flex-column flex-gap-6">
    <div class="add-block-filters-wrapper">
        <div class="view-btn-wrapper">
            <a href="#" class="add-block-grid-view viewbtn text-decoration-none active"><span class="edw-icon edw-icon-Card-View"></span></a>
            <a href="#" class="add-block-list-view viewbtn text-decoration-none"><span class="edw-icon edw-icon-List-View-08"></span></a>
        </div>
    </div>
    <div class="default-blocks-wrapper grid-view">
        {{>theme_remui/add_block_body_cards}}
    </div>
</div>
