{{#blocks}}
<div class="card-wrapper" data-parentblock="{{name}}" data-block="{{name}}" data-blockid="{{id}}" title="{{title}}">
    <div class="card-item h-100 ">
        <div class="card ">
            <div class="card-header">
                <div >{{title}}</div>
            </div>
            <a href="{{url}}&amp;bui_addblock={{name}}" class="p-0 " title="{{title}}">
                <div class="card-body d-flex justify-content-center align-items-center">
                </div>
            </a>
        </div>
    </div>
</div>
{{/blocks}}

{{^blocks}}
    <div class="alert alert-primary" role="alert">
        {{#str}} noblockstoaddhere {{/str}}
    </div>
{{/blocks}}